name: QuoteHQxq

on:
  #schedule:    
  #  - cron:  '15 1 * * 1-5'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        # Python 版本的语义版本范围矩阵或准确的版本
        python-version: '3.8.0' 
        # 可选 - x64 或 x86 架构，默认为 x64
        architecture: 'x64' 
    - name: Install dependencies
      run: |
       python -m pip install --upgrade pip requests
       python -m pip install --upgrade pip pyquery
       python -m pip install --upgrade pip openpyxl
       python -m pip install --upgrade pip pytdx
    # Actions
    - name: Quote_HQ
      run: |
        python XqTdx_Quote.py
        python -c "print('workflow successfull')"
